<!-- <ion-list>
  <ion-list-header>
    Items
  </ion-list-header>
  <ion-item>
    Item 1
  </ion-item>
  <ion-item-divider>
    <ion-button slot="start">Start</ion-button>
      <ion-label>Divider</ion-label>
      <ion-icon slot="end" name="book"></ion-icon>
  </ion-item-divider>
  <ion-item>
    Item 2
  </ion-item>
</ion-list> -->


<!-- <ion-item-group>
  <ion-item-divider>A</ion-item-divider>
  <ion-item>Alex</ion-item>
  <ion-item>Amber</ion-item>
</ion-item-group>
<ion-item-group>
  <ion-item-divider>B</ion-item-divider>
  <ion-item>Bob</ion-item>
  <ion-item>Brenda</ion-item>
</ion-item-group> -->

<!-- 
<ion-list>
  <ion-item>
    <ion-icon name="book" slot="start">
    </ion-icon>
      Book
  </ion-item>
  <ion-item>
    <ion-icon name="build" is-active="false" slot="start">
    </ion-icon>
    Build
    <ion-icon name="build" slot="end">
    </ion-icon>
  </ion-item>
  <ion-item>
    <ion-icon ios="ios-happy" md="md-sad" slot="end">
    </ion-icon>
    Happy or Sad
  </ion-item>
</ion-list> -->


<ion-list>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="http://placehold.it/100x60?text=F1">
    </ion-thumbnail>
    Apple
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="http://placehold.it/100x60?text=F2">
    </ion-thumbnail>
    Banana
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="http://placehold.it/100x60?text=F3">
    </ion-thumbnail>
    Orange
  </ion-item>
</ion-list>



<ion-list>
  <ion-item>
    <ion-avatar slot="start">
      <img src="http://placehold.it/60?text=A">
    </ion-avatar>
    Alex
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="http://placehold.it/60?text=B">
    </ion-avatar>
    Bob
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="http://placehold.it/60?text=D">
    </ion-avatar>
    David
  </ion-item>
</ion-list>